.login-form-wrapper {
  display: grid;
  margin: auto;
  margin-top: 5rem;
}

.login-form-label {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.login-form-input {
  width: 17rem;
  height: 2.25rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.login-form-button {
  margin-top: 1rem;
  width: 17rem;
  height: 2rem;
}