.navigation-bar-page-title {
  max-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar-page-title > p {
  margin: auto;
  font-weight: bold;
  text-align: center;
}

.navigation-bar-link-left {
  max-width: 4rem;
  margin-left: 0.5rem;
}

.navigation-bar-link-right {
  max-width: 4rem;
  margin-right: 0.5rem;
}

.navigation-bar-wrapper {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: solid black 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}