.single-navigation-link {
  text-align: center;
  text-decoration: none;
  color: black;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: hsl(0, 0%, 90%);
}

.single-navigation-link-wrapper {
  /* height: 2rem; */
  /* padding-top: 0.5rem; */
  text-align: center;
}